{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block content %}
    <p>Test</p>

    <button class="currency" value="USD" type="submit">Get currency USD</button>
    <button class="currency" value="EUR" type="submit">Get currency EUR</button>
    <button class="currency" value="CAD" type="submit">Get currency CAD</button>

    <div id="container" style="width:100%; height:400px;"></div>

{% endblock content %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'highcharts/highcharts.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}
