{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block content %}

    <div class="ui container">
        <h1 class="ui header">Currency graphs</h1>

        <div class="ui center aligned three column padded stackable grid">
            <div class="column">
                <button class="ui huge button green currency" value="USD" type="submit">
                    <i class="dollar icon"></i>
                    Dollar
                </button>
            </div>
            <div class="column">
                <button class="ui huge button green currency" value="EUR" type="submit">
                    <i class="euro icon"></i>
                    Euro
                </button>
            </div>
        </div>

        <div class="ui segment">
            <div id="container" style="width:100%; height:400px;"></div>
        </div>

    </div>


{% endblock content %}

{% block extra_js %}
    {% compress js %}
        <script src="{% static 'highcharts/highcharts.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}
